<html>

    <head>
        <meta charset="utf-8" />
        <title>App</title>
    </head>
    <body>
        <h2>
            We make information about candidates more accessible by providing transcripts and annotations from political
            events.
        </h2>

        {{message}}
        
        <a href="./submission">submit a transcript</a>
        <a href="./login">login</a>
        <a href="./register">register</a>
    </body>

</html>
