<html>
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="topnav">
            <div class="button-wrapper" data.tippy-content="This is my button message">
                <button class="button-4" role="button" onclick="window.location.href='#home';">Home</button>
            </div>
            <div class="button-wrapper" data.tippy-content="This is my button message">
                <button class="button-4" role="button" onclick="window.location.href='./candidates';">Candidates</button>
            </div>
            {{#if loggedin}}
            <div class="button-wrapper" data.tippy-content="This is my button message">
                <button class="button-4" role="button" onclick="window.location.href='./me';">Profile</button>
            </div>
            {{else}}
            <div class="button-wrapper" data.tippy-content="This is my button message">
                <button class="button-4" role="button" onclick="window.location.href='./login';">Log In</button>
            </div>
            <div class="button-wrapper" data.tippy-content="This is my button message">
                <button class="button-4" role="button" onclick="window.location.href='./register';">Register</button>
            </div>
            {{/if}}
        </div>
        <h2>
            We make information about political candidates more accessible by providing transcripts and annotations from speeches, rallies, and debates.
        </h2>
        <a href="./submission">Submit a Transcript</a> 
        <br><br>
        <div class="mainthing">
            Recent:
            <br>
            <a href="./transcript">Thing!!</a>
            <br>
            <a href="./??">Thing</a>
            <br>
            <a href="./??">Thing</a>
        </div>
    </body>
</html>
