<html>
    <head>
        <meta charset="utf-8" />
        <title>Profile</title>
    </head>
    <body>
        <div class="topnav">
            <a href="../">Home</a>
            <a href="./candidates">Candidates</a>
        </div>

        <h3>Profile:</h3>
        <h4> Stats: </h4>
        Transcripts: 
        <br>
        Annotations: 
        <br> <br>
        <a href="./logout">Log Out</a>
    </body>
</html>
