<html>
    <head>
        <meta charset="utf-8" />
        <title>App</title>
    </head>
    <body>
        <div class="topnav">
            <a href="../">home</a>
            <a href="./login">login</a>
            <a href="./register">register</a>
        </div>
        <h3>transcipt submission:</h3>
        <form action="action_page.php" method="post">
            <label for="date"><b>Date</b></label>
            <input type="date" placeholder="Enter Date" name="date" max="2023-12-31" required />
            <br> 
            <label for="politician"><b>Politician(s)</b></label>
            <input type="text" placeholder="Enter Name" name="name" required />
            <br> 
            <label for="transcipt"><b>Transcript</b></label> 
            <br> 
            <textarea name="transcript" rows="20" cols="50" placeholder="Enter Transcript" required></textarea>
            <br> 
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
