<html>
    <head>
        <meta charset="utf-8" />
        <title>Submit Transcipt</title>
    </head>
    <body>
        <div class="topnav">
            <a href="../">Home</a>
            <a href="./me">Profile</a>
        </div>
        <h3>Transcipt Submission:</h3>
        <form method="post">
            <label for="date"><b>Date</b></label>
            <input type="date" placeholder="Enter Date" name="date" max="2023-12-31" required />
            <br />
            <label for="politician"><b>Politician(s)</b></label>
            <input type="text" placeholder="Enter Name" name="politician" required />
            <br />
            <label for="transcript"><b>Transcript</b></label>
            <br />
            <textarea name="transcript" rows="20" cols="50" placeholder="Enter Transcript" required></textarea>
            <br /><br />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
