<html>
    <head>
        <meta charset="utf-8" />
        <title>Transcript</title>
        <link rel="stylesheet" href="./../css/style.css">
    </head>
    <body>
        <div class="topnav">
            <a href="../">Home</a>
            <a href="./candidates">Candidates</a> 
            {{#if loggedin}}
            <a href="./me">Profile</a>
            {{else}}
            <a href="./login">Log In</a>
            <a href="./register">Register</a>
            {{/if}}
        </div>
        <h3> Title </h3>
        <div class="mainthing">
            {{transcript}}
            <br><br>
            <a href="./annotate">Create Annotation</a>
        </div>
        <h3> Issues </h3>
        <div class="piechart"></div>
    </body>
</html>
