<html>
    <head>
        <meta charset="utf-8" />
        <title>Transcript</title>
    </head>
    <body>
        <div class="topnav">
            <a href="../">Home</a>
            <a href="./candidates">Candidates</a> 
            <a href="./login">Log In</a>
            <a href="./register">Register</a>
        </div>
        <h3> Title </h3>
        <div class="mainthing">
            {{transcript}}
            <br><br>
            <a href="./annotate">Create Annotation</a>
        </div>
    </body>
</html>
